{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<style>
    /* Container to center the form in the viewport */
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full viewport height */
        background-color: #f9f9f9; /* Light background color */
    }

    /* Style for the form box */
    .form-box {
        width: 100%;
        max-width: 400px; /* Maximum width of the form box */
        padding: 20px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for the box */
        text-align: center; /* Center text inside the box */
        border: 1px solid #e0e0e0; /* Light border around the box */
    }

    /* Header style */
    .form-box h2 {
        margin-bottom: 15px;
        color: #333;
    }

    /* Paragraph style */
    .form-box p {
        margin-bottom: 20px;
        color: #666;
    }

    /* Form input styles */
    .form-group {
        margin-bottom: 1rem;
    }

    .form-group input {
        border-radius: 5px;
        padding: 10px 15px;
        border: 1px solid #ced4da;
        width: 100%;
        box-sizing: border-box;
    }

    .form-group input:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }

    .form-group input[type="submit"] {
        border-radius: 25px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .form-group input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<div class="form-container">
    <div class="form-box">
        <h2>Forgot Your Password?</h2>
        <p>Enter your email address to obtain a new password</p>
        <form method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }}+
                {{ form.email }}
                {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Reset my password</button>
            {% if form.errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
        </form>
    </div>
</div>




{% endblock %}
